# =========================
# 1. PYTHON & FLASK
# =========================
venv/
__pycache__/
*.pyc
.env

# =========================
# 2. REACT FRONTEND
# =========================
fruit-frontend/node_modules/
fruit-frontend/dist/
fruit-frontend/.env

# =========================
# 3. MACHINE LEARNING DATA
# =========================
# Block the 300MB dataset (Change "dataset/" if your folder is named something else!)
custom_dataset/
training/
test/
# =========================
# 4. USER UPLOADS
# =========================
# Ignore test images users upload, but keep the folder itself
static/uploads/*
!static/uploads/.gitkeep

# =========================
# 5. OS JUNK FILES
# =========================
.DS_Store
Thumbs.db